<div class="row-fluid">
<div class="span7">
<div class="page-header">
<h2>Need this theme in other colors or with different options?</h2> <h3>Go to <a href="http://bindtuning.com" target="_blank">bindtuning.com</a></h3>
</div>
<p>
"In today’s environment it is no longer good enough to support four or five color combinations when the market is expecting theme stores to offer thousands of color combinations", said <strong>Beatriz</strong>. 
</p> 
<p>
The BindEngine&reg; allows the user to customize color, font, and many other features of a normal theme/skin.
</p> 
<p>&nbsp;</p>
<a href="http://bindtuning.com" target="_blank" class="btn btn-primary" href="#">Meet BindTuning now!</a>
<p>&nbsp;</p>

</div>

<div class="span5">
<p>&nbsp;</p> 
<blockquote>
<p>BindTuning saves me the labor and time to&nbsp;find one (a theme) that matches my client’s style and logo colors. Now I just choose a&nbsp;great interface and create a unique skin in minutes that matches my needs&nbsp;perfectly.</p><p>
</p>
<small>Wendy, Blue Starfish Design</small>
</blockquote>
<p>&nbsp;</p>
<blockquote>
<p>The reason I only use BindTuning vs. the other theme stores is because of their customization tool.  The other theme stores I’ve found give you the option of only a couple colors but with BindTuning I can pick the exact color I need.  This is critical if I’m trying to match a color scheme to a company’s specific color.</p><p>
</p>
<small>Karla Shelton, Chief Digital Strategist of <a href="http://www.findeight.com" target="_blank">Findeight</a></small>
</blockquote>


</div>
</div>

<p><a href="http://www.bindtuning.com" target="_blank"><i class="icon icon-globe"></i> bindtuning.com</a> . <a href="https://twitter.com/bindskins" target="_blank"><i class="icon icon-twitter"></i> Follow us on twitter at &#64;bindskins</a> . <a href="http://www.facebook.com/bindskins" target="_blank" ><i class="icon icon-facebook"></i> Follow us on facebook</a></p>
<p>&nbsp;</p>
